@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

body {
    min-height: 100vh;
}

.section-main {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: url(media/header-bg.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-text {
    position: absolute;
    top: 50%;
    left: 21%;
    transform: translate(-50%,-50%);
}
.header-text h1 {
    color: #fff;
    text-align: left;
    font-size: 48px;
    font-weight: 500;
}

.moving-title {
    color: #fff;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.2rem;
}

.header-text p {
    color: #fff;
    text-align: left;
    font-size: 18px;
    font-weight: 300;
}

.cta-container {
    margin-top: 2rem;
}

.cta-btn {
    width: auto;
    height: 3rem;
    border-radius: 25px;
    background-color: #F55E3C;
    text-decoration: none;
    text-align: center;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    padding: 12px 18px;
}

.cta-btn:hover {
    background-color: #EF4104;
    transition: 1s;
    color: #fff;
}

header {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 100px;
}

header.sticky {
    background: #1A1A1A;
    padding: 15px 100px;
}

header a img {
    width: 60px;
    height: auto;
    
}

header .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .menu a {
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    margin: 0 15px;
    padding: 0 10px;
    color: #fff;
    
}

header .menu a:hover {
    color: #EF4104;
    cursor: pointer;
    transition: 0.6s ease;
}

header .btn {
    color: #fff;
    display: none;
}

@media(max-width: 1060px) {
    header .btn {
        display: block;
    }

    header .menu {
        position: fixed;
        background: #0077ff;
        flex-direction: column;
        min-width: 400px;
        height: 100vh;
        top: 0;
        right: -100%;
        padding: 80px 50px;
        transition-property: right;
    }

    header .menu.active {
        right: 0;
    }

    header .menu .close-btn {
        position: absolute;
        top: 0;
        left: 0;
        margin: 25px;
    }

    header .menu a {
        display: block;
        font-size: 18px;
        margin: 20px;
        padding: 0 15px;
    }

    .section-main {
        background-image: linear-gradient(rgba(4,9,30,0.6), rgba(4,9,30,0.6)), url(media/header-bg.jpg);
        background-position: center;
        background-size: cover;
        position: relative;
        height: 100vh;
    }

    .header-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .header-text h1 {
        color: #fff;
        text-align: center;
        font-size: 30px;
        font-weight: 500;
    }
    
    .moving-title {
        color: #fff;
        text-align: center;
        font-size: 12px;
        font-weight: 500;
    }
    
    .header-text p {
        color: #fff;
        text-align: center;
        font-size: 12px;
        font-weight: 300;
    }
    
    .cta-container {
        text-align: center;
    }
    .cta-btn {
        font-size: 14px;
    }
    
}

@media (max-width: 700px) {

    .section-main {
        background-image: linear-gradient(rgba(4,9,30,0.6), rgba(4,9,30,0.6)), url(media/header-bg.jpg);
        background-position: center;
        background-size: cover;
        position: relative;
        height: 100vh;
    }

    .header-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .header-text h1 {
        color: #fff;
        text-align: center;
        font-size: 20px;
        font-weight: 500;
    }
    
    .moving-title {
        color: #fff;
        text-align: center;
        font-size: 10px;
        font-weight: 500;
    }
    
    .header-text p {
        color: #fff;
        text-align: center;
        font-size: 10px;
        font-weight: 300;
    }
    
    .cta-container {
        text-align: center;
    }
    .cta-btn {
        font-size: 12px;
    }
    
}

/*features*/

.features {
    height: 100vh;
    background-color: #fff;
}

.features-title {
    text-align: center;
}

.features-title h1 {
    font-size: 48px;
    padding-top: 2rem;
    font-weight: 500;
}

.features-title p {
    font-size: 18px;
    color:#EF4104
}

.features-row {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 100px;
}

.features-col {
    text-align: center;
    justify-content: center;
    border: 2px solid #e9ecef;
    margin: 1rem;
    padding: 1rem;
    background-color: #fff;
    width: 30rem;
    
}

.features-col h2 {
    font-size: 18px;
    font-weight: 300;
    margin: 1rem;
    padding: 0.2rem;
}

.features-col p {
    font-size: 14px;
    font-weight: 200;
    padding: 0.2rem;
}

@media (max-width: 868px) {

    #features {
        height: 100%;
    }

    .features-title h1 {
        font-size: 24px;
        padding-top: 2rem;
        font-weight: 500;
    }

    .features-row {
        flex-direction: column;
        margin: 10px;
    }

    .features-col img {
        width: 10rem;
        height: auto;
    }

    .features-col {
        width: 18rem;
        text-align: center;
        justify-content: center;
    }
}

@media(min-width: 1500px) {
    .features-col {
        text-align: center;
        justify-content: center;
        border: 2px solid #e9ecef;
        margin: 1rem;
        padding: 1rem;
        background-color: #fff;
        height: 400px;
        width: 30rem;
    }
    
    .features-col h2 {
        font-size: 24px;
        font-weight: 300;
        margin: 1rem;
        padding: 0.2rem;
    }
    
    .features-col p {
        font-size: 18px;
        font-weight: 200;
        padding: 0.2rem;
    }
}

/*Contact Us*/

.contact {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: url(media/contact-bg.png);
    background-size: cover;
    background-position: center;
}

.contact-wrap {
    width: 80%;
    height: auto;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    padding-top: 200px;
}

img {
    width:50%;
    height: auto;
    align-items: center;
}

.contact-info:nth-child(1) {
    flex: 30%;
    background-image: linear-gradient(rgba(4,9,30,0.2), rgba(4,9,30,0.2)), url(media/1.jpg);
    color: #fff;
    padding: 48px 38px;
}

.contact-info:nth-child(2) {
    flex: 45%;
    background: #0077b6;
    padding: 48px 38px;
}

.contact-info:nth-child(3) {
    flex: 25%;
}

.contact-info h1 {
    font-size: 36px;
    margin-bottom: 15px;
}

.contact-info h2 {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 12px;
    margin-top: 12px;
}

.contact-info h2, i {
	font-size: 16px;
	width: 40px;
	height: 40px;
	margin-right: 10px;
	background: #f5f5f5;
	color: #000;
	border-radius: 50px;
	line-height: 40px;
	text-align: center;
}

.contact-info p {
    font-size: 14px;

}

.contact-info form {
	width: 100%;
	height: auto;
}

.contact-input {
	width: 100%;
	height: 40px;
	margin-bottom: 20px;
	border: 1px solid #fff;
	outline: none;
	padding-left: 5px;
	background: transparent;
	color: #fff;
	font-size: 12px;
	font-weight: 300;
	font-family: 'Poppins', sans-serif;
}

.contact-input::placeholder {
	color: #fff;
}

.contact-input-textarea {
	width: 100%;
	height: 140px;
	margin-bottom: 20px;
	border: 1px solid #fff;
	outline: none;
	padding-top: 5px;
	padding-left: 5px;
	background: transparent;
	color: #fff;
	font-size: 12px;
	font-weight: 300;
	font-family: 'Poppins', sans-serif;
}

.contact-input-textarea::placeholder {
	color: #fff;
}

.button {
    background-color: #EF4104;
    padding: 0.5rem;
    color: #fff;
    margin-top: 1rem;
    border-radius: 20px;
    width: 10rem;
    border-color: transparent;
    cursor: pointer;
}

.contact-info iframe {
	width: 100%;
	height: 100%;
}

@media only screen and (max-width:480px) {
	.contact-info:nth-child(1) {
		flex: 50%;
	}

	.contact-info:nth-child(2) {
		flex: 50%;
	}

	.contact-info:nth-child(3) {
		flex: 100%;
	}

}

@media only screen and (max-width:360px) {
	.contact-info:nth-child(1) {
		flex: 50%;
	}

	.contact-info:nth-child(2) {
		flex: 50%;
	}

	.contact-info:nth-child(3) {
		flex: 100%;
	}

    .contact-wrap {
        height: 100vh;
    }

}
