@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    position: relative;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*HOMEPAGE*/
main {
	position: relative;
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(assests/header-bg.jpg);
    background-size: cover;
    background-position: center;
}
.logo {
    width: 50px;
    height: auto;
}

.navbar-nav a{
	color: #fff;
	font-size: 16px;
}

.nav-link.active {
    color: #EF4104 !important;
}

.navbar-toggler {
	color: #fff;
}

.navbar-dark .navbar-toggler {
    color: rgba(255,255,255,.55);
    border-color: rgba(255,255,255,.1);
}

nav.sticky {
	background: #000;
}

.navbar-toggler-icon {
    color: #fff;
}

.cta-btn {
    width: auto;
    height: 3rem;
    border-radius: 25px;
    background-color: #F55E3C;
    text-align: center;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    padding: 12px 18px;
	margin: 8px;
}
.cta-btn a {
	text-decoration: none;
	color: #fff;
}

.cta-btn:hover {
    background-color: #EF4104;
    transition: 1s;
    color: #fff;
}

.header-text h1, p {
	color: #fff;
}

.header-text h1 {
	font-size: 48px;
    font-weight: 500;
}

.header-text p {
    color: #fff;
    font-size: 18px;
    font-weight: 300;
	padding: 12px;
}

.moving-title {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.2rem;
}

.header-text {
    position: absolute;
    top: 50%;
    left: 21.7%;
    transform: translate(-50%,-50%);
}


/*X-Small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {

    main {
        position: relative;
        width: 100%;
        min-height: 100vh;
        background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(assests/header-bg.jpg);
        background-size: cover;
        background-position: center;
    }

    .header-text h1 {
        font-size: 24px;
        font-weight: 500;
        
    }
    
    .header-text .lead {
        color: #fff;
        font-size: 16px;
        font-weight: 300;
        padding: 12px;
        line-height: 25px;
    }
    
    .header-text .moving-title {
        color: #fff;
        font-size: 13px;
        font-weight: 400;
        letter-spacing: 0.1rem;
    }
    
    .header-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }

}

/*Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) {

    main {
        position: relative;
        width: 100%;
        min-height: 100vh;
        background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(assests/header-bg.jpg);
        background-size: cover;
        background-position: center;
    }

    .header-text h1 {
        font-size: 28px;
        font-weight: 500;
        
    }
    
    .header-text .lead {
        color: #fff;
        font-size: 18px;
        font-weight: 300;
        padding: 12px;
        line-height: 25px;
        max-width: fit-content;
    }
    
    .header-text .moving-title {
        color: #fff;
        font-size: 13px;
        font-weight: 400;
        letter-spacing: 0.1rem;
    }
    
    .header-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
    }

}

/*Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) {
    main {
        position: relative;
        width: 100%;
        min-height: 100vh;
        background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(assests/header-bg.jpg);
        background-size: cover;
        background-position: center;
    }

    .header-text h1 {
        font-size: 28px;
        font-weight: 500;
        
    }
    
    .header-text .lead {
        color: #fff;
        font-size: 18px;
        font-weight: 300;
        padding: 12px;
        line-height: 25px;
        max-width: fit-content;
    }
    
    .header-text .moving-title {
        color: #fff;
        font-size: 13px;
        font-weight: 400;
        letter-spacing: 0.1rem;
    }
    
    .header-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
    }

    .cta-btn {
        position: absolute;
        top: 105%;
        left: 50%;
        transform: translate(-50%,-50%);
        
    }

}

/*****************************************************************************************************************************************************************?
/* ABOUT PAGE */

.about-header h1 {
    font-size: 48px;
    font-weight: 500;
}

.about-text p {
    font-size: 24px;
    font-weight: 300;
}

.about-title {
    color: #0077ff;
}

.about-header {
    color: #6c757d;
}



/*****************************************************************************************************************************************************************?
/* FEATURES PAGE */

#features {
    background-color: #0077ff;
}

.feature-header h1 {
    font-size: 48px;
    font-weight: 500;
    color: #fff;
}

.card-cover {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.rounded-5 { 
    border-radius: 1rem; 
}

.text-shadow-1 { 
    text-shadow: 0 .125rem .25rem rgba(0, 0, 0, 1); 
}

.text-shadow-2 { 
    text-shadow: 0 .25rem .5rem rgba(0, 0, 0, 1); 
}

.text-shadow-3 { 
    text-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, 1); 
}

.title {
    text-align: center;
    font-size: 42px;
}

.description {
    color: #fff;
    text-align: center;
    font-size: 16px;
}

/*****************************************************************************************************************************************************************?
/* PORTFOLIO PAGE */

.portfolio-header h1 {
    font-size: 48px;
    font-weight: 500;
    color: #000;
}

.feature-img {
    width: 8rem;
}

.card-header {
    font-size: 32px;
}

/*****************************************************************************************************************************************************************?
/* CONTACT US PAGE */

#contact {
    background-color: #0077ff;
}

.contact-title {
    font-size: 48px;
    font-weight: 500;
    color: #fff;
}

.contact-icon {
    width: 3em;
    height: 3em;
    
}

.form-control {
    background: transparent;
}

.form-label {
    color: #fff;
}

.form-control::placeholder {
    color: #fff;
}

.contact-info:nth-child(1) {
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(assests/1.jpg);
}

.contact-info:nth-child(2) {
    background-color: transparent;
    width: 45%;
  
}

.contact-info iframe {
	width: 100%;
	height: 100%;
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.btn-email {
    margin-top: 40px;
    margin-bottom: 40px;
    
}

.btn-email .btn-color {
    background-color: #EF4104;
    
}








